# build output
dist/
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# environment / secrets
.env
.env.production
.dev.vars

# os / editor
.DS_Store
.vscode/
